body {

  /* this will be the black base color */
  color: color('black');

  /* this will be the dark tone of the secondary set of colors, set to an opacity of 90% */
  background-color: color('whites', 'base', .9);
  h1 {
    max-width: 30rem;
    margin: 2rem auto;
    font-size: 20vmin;
    line-height: 20vh;
    text-align: center;
    box-shadow: 0 .5em 0 color(),
                0 1em 0 color('primary', 'lightest'),
                0 1.5em 0 color('accent', 'light'),
                0 2em 0 color('accent');
  }
    &:hover {
      color: blue;
    }
      &::before {
        content: '';
      }


}

