/* Sass maps can be iterated, just like JavaScript objects and arrays. They are iterated over using the built-in function map-get(). 
   Each map has properties and values. In the example below, our $colors variable holds a map of palette types. Each of those maps holds key-value pairs of a color tone and the color value */

$colors: (
  'primary': (
    'lightest': #e1f5fe,
    'light': #b3e5fc,
    'base': #03a9f4,
    'dark': #01579b,
    'darkest': #02355d,
  ),
  'accent': (
    'lightest': #ffccbc,
    'light': #ffab91,
    'base': #ff5722,
    'dark': #dd2c00,
    'darkest': #6E0001,
  ),
  'secondary': (
    'lightest': #fcf4a3,
    'light': #E5FD43,
    'base': #FFDC00,
    'dark': #fdce2a,
    'darkest': #ec9707,
  ),
  'blacks': (
    'lighter': #3d3934,
    'base': #222023,
    'dark': #111,
    'darkest': #080401,
  ),
  'whites': (
    'lighter': #fff,
    'light': #fffffc,
    'base': #fffefc,
    'dark': #fbfcf7,
  )
);


/* this function will get a color value for us when called. Just like in JS, our function has a name (color, in this case) and can take parameters. 

/* it has three parameters:

$type (a  string value): this will a category such as `primary`, 'accent', 'white', etc. If no value is provided, the default will be 'primary'

$tone (a string value): this will be, you guessed it, the tone of the color. 'light', 'medium', 'dark', etc. If no value is provided, the default will be 'base'

$opacity (a number value between 0 and 1): this will set the alpha transparency of the color and convert it from a hex value to an rgba value, but only if the value is less than 1. The default value is 1, so unless you want a somewhat transparent color, this value can be omitted when calling the function

**NOTE** If you provide a value for opacity or tone, you MUST provide a value for all values before it. For example, you cannot just provide a value for opacity, you would have to do all three. If tou want to provide a tone, you must also provide a type.
*/

@function color($type: 'primary', $tone: 'base', $opacity: 1) {

  /* initialize empty color variable */
  $color: null;

  /* get all tones for each color group
  this will iterate over our colors map and get a collection of each type's (primary, accent, whites, etc.) tones and store that collection of tones in the $color-group variable

  */
  $color-group: map-get($colors, $type);

  /* if color group exists, get tone, if specified */

  @if $color-group {

    /*  this will iterate over our collection of tones (our color-group variable) and grab the tone we want (light, base, dark, etc.) and store that color value in the color variable
    */
    $color: map-get($color-group, $tone);
  }

  /* set alpha on color if specified and less than 1 */
  @if $opacity < .9 {

    /* if opacity is specified and less than 1, this will convert our color to rbga and set the alpha transparency to the opacity value and store the new value in the color variable */
    $color: rgba($color, $opacity);
  }

  /* the color is returned and the value will be used as the value wherever we call the color() function */
  @return $color;
}

